



:root{
	--main-color: #00b4cd;
	--main-color-dark: #00868f;
	--main-color-light: #BFFBFF;

}

/* COLOR CODES:

+ Proyecto: 
- #00868f (dark)
- #00B4CD (main)
- #bffbff (lighter)
- #80f7ff (soft)

+ Fernando Luna 
- #AB1FFF (strong)
- #D48CFF (light)

+ Sofia Cuenca: 
 - #F39C12 (strong)
 - #F6C77E (light)

font-family: 'Merriweather', serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Roboto', sans-serif;

 */


 /* testeo visual 
 *{outline: red 1px solid}
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Montserrat:wght@300;400&family=Roboto:ital,wght@0,400;1,100&display=swap');
body{
	background-color:  #ffffff !important;
	max-width: 100vw;
}

/*NAVBAR*/

.navbar{
	background: var(--main-color) !important;
	justify-content: left !important;
}

.navbar-brand:link, .navbar-brand:visited, .navbar-brand:active{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
	font-family: "Poppins",sans-serif;
	padding-top: 4px;
}
.navbar-brand img{
	width: 8em;
	margin-right: 5px;
}

/*CSS Code For Wave Background
WAVE BACKGROUND CSS*/
@Import Url(//Fonts.Googleapis.Com/Css?Family=Lato:300:400);
Body {
Margin:0;
}
H1 {
Font-Family: 'Lato', Sans-Serif;
Font-Weight:300;
Letter-Spacing: 2px;
Font-Size:48px;
}
P {
Font-Family: 'Lato', Sans-Serif;
Letter-Spacing: 1px;
Font-Size:14px;
Color: #333333;
}
.Header {
Position:relative;
Text-Align:center;
background: url("https://media.istockphoto.com/id/537331500/fr/photo/le-code-de-programmation-fond-abstrait-technologie-de-logiciels-deve.jpg?b=1&s=170667a&w=0&k=20&c=agzNZI4opNM7O5VgJ3Ni0PMm7WlfEW-I13blEQU_pIM=");
/*Background: Linear-Gradient(60deg, Rgba(84,58,183,1) 0%, Rgba(0,172,193,1) 100%);*/
background-size: cover;
background-attachment: fixed;
position: relative;
Color:white;/*color del H1*/
}
.Logo {
Width:50px;
Fill:rgb(27, 122, 51);
Padding-Right:15px;
Display:inline-Block;
Vertical-Align: Middle;
}
.Inner-Header {
Height:35vh;
Width:100%;
Margin: 0;
Padding: 0;
}
.Flex { /*Flexbox For Containers*/
Display: Flex;
Justify-Content: Center;
Align-Items: Center;
Text-Align: Center;
}
.Waves {
Position:relative;
Width: 100%;
Height:15vh;
Margin-Bottom:-7px; /*Fix For Safari Gap*/
Min-Height:100px;
Max-Height:150px;
}
.Content {
Position:relative;
Height:20vh;
Text-Align:center;
Background-Color: White;
}
/* Animation */
.Parallax > Use {
Animation: Move-Forever 25s Cubic-Bezier(.55,.5,.45,.5) Infinite;
}
.Parallax > Use:nth-Child(1) {
Animation-Delay: -2s;
Animation-Duration: 7s;
}
.Parallax > Use:nth-Child(2) {
Animation-Delay: -3s;
Animation-Duration: 10s;
}
.Parallax > Use:nth-Child(3) {
Animation-Delay: -4s;
Animation-Duration: 13s;
}
.Parallax > Use:nth-Child(4) {
Animation-Delay: -5s;
Animation-Duration: 20s;
}
@keyframes Move-Forever {
0% {
Transform: Translate3d(-90px,0,0);
}
100% {
Transform: Translate3d(85px,0,0);
}
}
/*Shrinking For Mobile*/
@Media (Max-Width: 768px) {
.Waves {
Height:40px;
Min-Height:40px;
}
.Content {
Height:30vh;
}
H1 {
Font-Size:24px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

.mat-card{
    border-radius: 32px;
    margin: 40px 40px;
    padding: 30px;
    /*border-color: #0a66c2;*/
}

.mat-card#first-card{
    padding: 0;
}


/*div#profile-background{
    display: flex;
    z-index: 1;
}

div#profile-background img{
    width: 100%;
    border-radius: 32px 32px 0 0 ;
}*/

.profile-image{
    border-radius:50% ;
    width: 250px;
    height: 250px;
    margin-top: -140px;
    z-index: 1;
    /*MIS INTERVENCIONES*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 2px solid #00868f;
}

#name{
    text-align: center;
}
#info-company{
    text-align: center;
}
div#info-actions{
    display: flex;
    justify-content: center; 
    /* align-items: center; */
}



#info-contact{
    position: relative;
}
a.enlace {
    padding: 10px;
    bottom: 20px;
}


.enlace:link, .enlace:visited, .enlace:active{
    text-decoration: none;
    color: black;
}

.list-img{
    width: 70px;
    height: 70px;
}

img.izquierda {
    float: left;
    margin-right: 15px;
}

div.reset {
    clear: both;
}

aside{
    font-size: 30px;
}

ul#info-details{
    list-style: none;
    flex-shrink: 0;
}

/* ul#infodetails li {
    display:inline-block;
    list-style-type: none;
    text-align: left;
} */
#skill{
    justify-content: center;
}
.progress{
    margin-left: 120px;
    margin-right: 120px;
}
.progress-bar{
    background-color: rgb(95, 152, 160) !important;
}
h4{
    text-align: center;
    padding-top: 30px;
}
.servicio-cont {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.servicio{
    width: 30%;
    text-align: justify;
}
.serv-titulo{
    text-align: center;
}
 #proyecto{
    text-decoration: none;
    color: #333333;
}
.servicio img {
    width: 100%;
    margin-top: 20px;
}
footer{
    background-color: #017787bb;
    padding: 40px;
}

